<!DOCTYPE html>
<html>
  <head>
    <title>Correlation</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <style>
      .sections-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .sections-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
      }

      .sections-container section {
        flex: 1;
      }

      .button-container {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
        width: auto;
        height: 80px;
      }
    </style>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span
            ><span class="title">Crime Pulse</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="/SpatialAnalysis">Spatial Analysis</a></li>
          <li><a href="/TrendAnalysis">Trend Analysis</a></li>
          <li><a href="/OffenceAnalysis">Offence Analysis</a></li>
          <li><a href="/Ranking">Ranking</a></li>
          <li><a href="/Correlation">Correlation</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Correlation</h1>
          <span class="image main"><img src="images/pic13.jpg" alt="" /></span>
          <form method="post" action="/Correlation" style="overflow: hidden">
            <div class="sections-wrapper">
              <div class="sections-container">
                <!-- Section 1 -->
                <section>
                  <h2>Parameter 1</h2>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option1"
                      name="age"
                      value="option1"
                    />
                    <label for="option1">Age</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option2"
                      name="time"
                      value="option2"
                    />
                    <label for="option2">Time(Day/Night)</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option3"
                      name="state"
                      value="option3"
                    />
                    <label for="option3">State</label>
                  </div>
                </section>

                <!-- Section 2 -->
                <section>
                  <h2>Parameter 2</h2>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option4"
                      name="lineChart"
                      value="option4"
                    />
                    <label for="option4">Line Chart</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option5"
                      name="barChart"
                      value="option5"
                    />
                    <label for="option5">Bar Chart</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option6"
                      name="pieChart"
                      value="option6"
                    />
                    <label for="option6">Pie Chart</label>
                  </div>
                </section>
              </div>
              <!-- Buttons -->
              <div class="button-container">
                <div class="button-container">
                  <button type="submit" class="btn btn-primary">
                    Fetch Data
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="resetForm()"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <% if (result != 0) { %>
      <div>
        <% result.metaData.forEach(element=> { %>
        <h1><%= element.name %></h1>
        <% }) %>
      </div>
      <% } %>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <h2>Get in touch</h2>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="field">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Message"
                  ></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send" class="primary" /></li>
              </ul>
            </form>
          </section>
          <section>
            <h2>Follow</h2>
            <ul class="icons">
              <li>
                <a
                  href="https://twitter.com/UF"
                  class="icon brands style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/uflorida"
                  class="icon brands style2 fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/uflorida/"
                  class="icon brands style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <!-- <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li> -->
              <!-- <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li> -->
              <li>
                <a
                  href="mailto:info@ufonline.ufl.edu"
                  class="icon solid style2 fa-envelope"
                  ><span class="label">Email</span></a
                >
              </li>
            </ul>
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      function resetForm() {
        const radioButtons = document.querySelectorAll("input[type='radio']");
        for (let radioButton of radioButtons) {
          radioButton.checked = false;
        }
      }
    </script>
  </body>
</html>
