<!DOCTYPE html>
<html>
  <head>
    <title>Sector Analysis</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <style>
      .buttons-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }

      .left-buttons,
      .right-buttons {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
      }

      .left-buttons button,
      .right-buttons button {
        margin-bottom: 10px;
        width: 400px;
        height: 150px;
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .left-buttons button:last-child,
      .right-buttons button:last-child {
        margin-bottom: 0;
      }
    </style>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span
            ><span class="title">Crime Pulse</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/SpatialAnalysis">Spatial Analysis</a></li>
          <li><a href="/TrendAnalysis">Trend Analysis</a></li>
          <li><a href="/OffenceAnalysis">Sector Analysis</a></li>
          <li><a href="/Correlation">Correlation</a></li>
          <li><a href="/Statistics">Statistics</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Sector Analysis</h1>
          <span class="image main"><img src="images/pic13.jpg" alt="" /></span>
          <form method="post" action="/SectorAnalysis">
            <div class="buttons-container">
              <div class="left-buttons">
                <button
                  class="button primary"
                  type="submit"
                  name="offenceType"
                  value="offense.offense_category"
                >
                  Offense Type
                </button>
                <button
                  class="button primary"
                  type="submit"
                  name="offenderSex"
                  value="arrestee.sex"
                >
                  Offender Sex
                </button>
                <button
                  class="button primary"
                  type="submit"
                  name="offenderRace"
                  value="arrestee.race"
                >
                  Offender Race
                </button>
                <button
                  class="button primary"
                  type="submit"
                  name="offenderEthnicity"
                  value="arrestee.ethnicity"
                >
                  Offender Ethnicity
                </button>
              </div>
              <div class="right-buttons">
                <button
                  class="button primary"
                  type="submit"
                  name="locationType"
                  value="location_type"
                >
                  Location Type
                </button>
                <button
                  class="button primary"
                  type="submit"
                  name="victimSex"
                  value="victim.sex"
                >
                  Victim Sex
                </button>
                <button
                  class="button primary"
                  type="submit"
                  name="victimRace"
                  value="victim.race"
                >
                  Victim Race
                </button>
                <button
                  class="button primary"
                  type="submit"
                  name="victimEthnicity"
                  value="victim.ethnicity"
                >
                  Victim Ethnicity
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <% if (data != 0 && labels != 0) { %>
      <div>
        <canvas
          id="myChart"
          style="
            max-height: 650px;
            max-width: 650px;
            margin: auto;
            text-align: center;
            height: 650px;
            width: 650px;
          "
        ></canvas>
      </div>
      <% } %>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <h2>Get in touch</h2>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="field">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Message"
                  ></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send" class="primary" /></li>
              </ul>
            </form>
          </section>
          <section>
            <h2>Follow</h2>
            <ul class="icons">
              <li>
                <a
                  href="https://twitter.com/UF"
                  class="icon brands style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/uflorida"
                  class="icon brands style2 fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/uflorida/"
                  class="icon brands style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <!-- <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li> -->
              <!-- <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li> -->
              <li>
                <a
                  href="mailto:info@ufonline.ufl.edu"
                  class="icon solid style2 fa-envelope"
                  ><span class="label">Email</span></a
                >
              </li>
            </ul>
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById("myChart");

      const data = "<%- data %>";
      const labels = "<%- labels %>";

      new Chart(ctx, {
        type: "pie",
        data: {
          labels: labels.split(","),
          datasets: [
            {
              label: "Number: ",
              data: data.split(","),
              backgroundColor: [
                "#ffb6c1",
                "#aec6cf",
                "#77dd77",
                "#b19cd9",
                "#fdfd96",
                "#ffb337",
                "#afeeee",
                "#e6e6fa",
                "#ffdab9",
                "#98fb98",
              ],
              hoverOffset: 4,
            },
          ],
        },
      });
    </script>
  </body>
</html>
