<!DOCTYPE html>
<html>

<head>
  <title>Spatial Analysis</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" />
  </noscript>
  <style>
    .form-container {
      text-align: center;
    }

    .form-container input,
    .form-container select {
      display: block;
      margin: 0 auto;
      margin-bottom: 5%;
    }

    .form-container .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .form-container .button-container button {
      box-sizing: border-box;
      width: 48%;
      height: 80px;
    }
  </style>
</head>

<body class="is-preload">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <!-- Logo -->
        <a href="/" class="logo">
          <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Crime Pulse</span>
        </a>

        <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
      <h2>Menu</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/SpatialAnalysis">Spatial Analysis</a></li>
        <li><a href="/TrendAnalysis">Trend Analysis</a></li>
        <li><a href="/OffenceAnalysis">Offence Analysis</a></li>
        <li><a href="/Ranking">Ranking</a></li>
        <li><a href="/Correlation">Correlation</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main">
      <div class="inner">
        <h1>Spatial Analysis</h1>
        <span class="image main"><img src="images/pic13.jpg" alt="" /></span>

        <!-- Form container -->
        <div class="form-container">
          <form method="post" action="/SpatialAnalysis">
            <!-- Location selector dropdown -->
            <label for="location" style="font-size: larger">Select State:</label>
            <select class="form-control" id="location" style="width: 50%" name="location">
              <option>Select State</option>
              <option>California</option>
              <option>Florida</option>
              <option>Hawaii</option>
              <option>New York</option>
              <option>Texas</option>
            </select>

            <!-- Date picker -->
            <label for="date" style="font-size: larger">Select Date:</label>
            <input type="date" class="form-control" id="date" style="width: 50%" name="date" />

            <!-- Time picker -->
            <label for="time" style="font-size: larger">Select Time:</label>
            <input type="time" class="form-control" id="time" style="width: 50%" name="time" />

            <!-- Buttons -->
            <div class="button-container">
              <button type="submit" class="btn btn-primary">
                Fetch Data
              </button>
              <button type="submit" class="btn btn-secondary" onclick="resetForm()">
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% if (result !=0) { %>
      <div>
        <% result.metaData.forEach(element=> { %>
          <h1>
            <%= element.name %>
          </h1>
          <% }) %>
      </div>
      <% } %>

        <!-- Footer -->
        <footer id="footer">
          <div class="inner">
            <section>
              <h2>Get in touch</h2>
              <form method="post" action="#">
                <div class="fields">
                  <div class="field half">
                    <input type="text" name="name" id="name" placeholder="Name" />
                  </div>
                  <div class="field half">
                    <input type="email" name="email" id="email" placeholder="Email" />
                  </div>
                  <div class="field">
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                  </div>
                </div>
                <ul class="actions">
                  <li><input type="submit" value="Send" class="primary" /></li>
                </ul>
              </form>
            </section>
            <section>
              <h2>Follow</h2>
              <ul class="icons">
                <li>
                  <a href="https://twitter.com/UF" class="icon brands style2 fa-twitter"><span
                      class="label">Twitter</span></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/uflorida" class="icon brands style2 fa-facebook-f"><span
                      class="label">Facebook</span></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/uflorida/" class="icon brands style2 fa-instagram"><span
                      class="label">Instagram</span></a>
                </li>
                <!-- <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li> -->
                <!-- <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li> -->
                <!-- <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li> -->
                <!-- <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li> -->
                <li>
                  <a href="mailto:info@ufonline.ufl.edu" class="icon solid style2 fa-envelope"><span
                      class="label">Email</span></a>
                </li>
              </ul>
            </section>
          </div>
        </footer>
  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
  <script>
    function resetForm() {
      document.getElementById("location").selectedIndex = 0;
      document.getElementById("date").value = "";
      document.getElementById("time").value = "";
    }
  </script>
</body>

</html>