<!DOCTYPE html>
<html>
  <head>
    <title>Offence Analysis</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <style>
      .buttons-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }

      .left-buttons,
      .right-buttons {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
      }

      .left-buttons button,
      .right-buttons button {
        margin-bottom: 10px;
        width: 200px;
        height: 80px;
        font-size: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .left-buttons button:last-child,
      .right-buttons button:last-child {
        margin-bottom: 0;
      }
    </style>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span
            ><span class="title">Crime Pulse</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/SpatialAnalysis">Spatial Analysis</a></li>
          <li><a href="/TrendAnalysis">Trend Analysis</a></li>
          <li><a href="/OffenceAnalysis">Offence Analysis</a></li>
          <li><a href="/Ranking">Ranking</a></li>
          <li><a href="/Correlation">Correlation</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Offence Analysis</h1>
          <span class="image main"><img src="images/pic13.jpg" alt="" /></span>
          <div class="buttons-container">
            <div class="left-buttons">
              <button
                class="button primary"
                onclick="button1(/* Your Query Here */)"
              >
                Button 1
              </button>
              <button class="button primary" onclick="button2()">
                Button 2
              </button>
              <button class="button primary" onclick="button3()">
                Button 3
              </button>
              <button class="button primary" onclick="button4()">
                Button 4
              </button>
              <button class="button primary" onclick="button5()">
                Button 5
              </button>
            </div>
            <div class="right-buttons">
              <button class="button primary" onclick="button6()">
                Button 6
              </button>
              <button class="button primary" onclick="button7()">
                Button 7
              </button>
              <button class="button primary" onclick="button8()">
                Button 8
              </button>
              <button class="button primary" onclick="button9()">
                Button 9
              </button>
              <button class="button primary" onclick="button10()">
                Button 10
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <h2>Get in touch</h2>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="field">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Message"
                  ></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send" class="primary" /></li>
              </ul>
            </form>
          </section>
          <section>
            <h2>Follow</h2>
            <ul class="icons">
              <li>
                <a
                  href="https://twitter.com/UF"
                  class="icon brands style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/uflorida"
                  class="icon brands style2 fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/uflorida/"
                  class="icon brands style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <!-- <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li> -->
              <!-- <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li> -->
              <li>
                <a
                  href="mailto:info@ufonline.ufl.edu"
                  class="icon solid style2 fa-envelope"
                  ><span class="label">Email</span></a
                >
              </li>
            </ul>
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      const button1 = async (Query) => {
        const connection = await oracledb.getConnection({
          user: "pandey.yash",
          password: "7La7ofRRpsWEPeXjr5q63hTL",
          connectionString: "oracle.cise.ufl.edu/orcl",
        });
        const result = await connection.execute(Query);
        return result;
      };
    </script>
  </body>
</html>
