<!DOCTYPE html>
<html>
  <head>
    <title>Trend Analysis</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <style>
      .form-container {
        text-align: center;
      }

      .form-container input,
      .form-container select {
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
      }

      .form-container .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }

      .form-container .button-container button {
        box-sizing: border-box;
        width: 48%;
        height: 80px;
      }
    </style>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span
            ><span class="title">Crime Pulse</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/SpatialAnalysis">Spatial Analysis</a></li>
          <li><a href="/TrendAnalysis">Trend Analysis</a></li>
          <li><a href="/SectorAnalysis">Sector Analysis</a></li>
          <li><a href="/Correlation">Correlation</a></li>
          <li><a href="/Statistics">Statistics</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Trend Analysis</h1>
          <span class="image main"><img src="images/pic13.jpg" alt="" /></span>

          <!-- Form container -->
          <div class="form-container">
            <form method="post" action="/TrendAnalysis">
              <!-- Select agency 1 dropdown -->
              <label for="agency1" style="font-size: larger"
                >Select State:</label
              >
              <select
                class="form-control"
                id="agency1"
                style="width: 50%"
                name="state"
              >
                <option>Select State</option>
                <option>California-CA</option>
                <option>Florida-FL</option>
                <option>Hawaii-HI</option>
                <option>New York-NY</option>
                <option>Texas-TX</option>
              </select>

              <!-- Select agency 2 dropdown -->
              <!-- <label for="agency2" style="font-size: larger"
                >Select Agency 2:</label
              >
              <select
                class="form-control"
                id="agency2"
                style="width: 50%"
                name="agency2"
              >
                <option>Select Agency 2</option>
                <option>Agency 2.1</option>
                <option>Agency 2.2</option>
                <option>Agency 2.3</option>
              </select> -->

              <!-- Crime Type dropdown -->
              <label for="crime_category" style="font-size: larger"
                >Please select Crime Category:</label
              >
              <select
                class="form-control"
                id="crime_category"
                style="width: 50%"
                name="crime_category"
              >
                <option>Select Crime Category</option>
                <option>Drug/Narcotic Offenses</option>
                <option>Extortion/Blackmail</option>
                <option>Homicide Offenses</option>
                <option>Sex Offenses</option>
                <option>Weapon Law Violations</option>
              </select>

              <!-- Buttons -->
              <div class="button-container">
                <button type="submit" class="btn btn-primary">
                  Fetch Data
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  onclick="resetForm()"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <% if (data != 0) { %>
      <div>
        <canvas
          id="myChart"
          style="
            max-height: 950px;
            max-width: 850px;
            margin: auto;
            text-align: center;
            height: 950px;
            width: 850px;
          "
        ></canvas>
      </div>
      <% } %>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <h2>Get in touch</h2>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="field">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Message"
                  ></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send" class="primary" /></li>
              </ul>
            </form>
          </section>
          <section>
            <h2>Follow</h2>
            <ul class="icons">
              <li>
                <a
                  href="https://twitter.com/UF"
                  class="icon brands style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/uflorida"
                  class="icon brands style2 fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/uflorida/"
                  class="icon brands style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a
                  href="mailto:info@ufonline.ufl.edu"
                  class="icon solid style2 fa-envelope"
                  ><span class="label">Email</span></a
                >
              </li>
            </ul>
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      function resetForm() {
        document.getElementById("agency1").selectedIndex = 0;
        document.getElementById("agency2").selectedIndex = 0;
        document.getElementById("crimeType").selectedIndex = 0;
        document.getElementById("year").selectedIndex = 0;
      }

      const ctx = document.getElementById("myChart");
      // const Utils = ChartUtils.init();

      const day_time = "<%- data[0] %>";
      const night_time = "<%- data[1] %>";
      // const labels = Utils.months({ count: 12 });

      new Chart(ctx, {
        type: "bar",
        data: {
          labels: [
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
            37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
          ],

          datasets: [
            {
              label: "Day Time",
              data: day_time.split(","),
              borderColor: ["red"],
              hoverOffset: 4,
            },
            {
              label: "night Time",
              data: night_time.split(","),
              borderColor: ["blue"],
              hoverOffset: 4,
            },
          ],
        },
        options: {
          indexAxis: "y",
          // Elements options apply to all of the options unless overridden in a dataset
          // In this case, we are setting the border of each horizontal bar to be 2px wide
          elements: {
            bar: {
              borderWidth: 2,
            },
          },
          responsive: true,
          plugins: {
            legend: {
              position: "right",
            },
            title: {
              display: true,
              text: "Day and night Crime Rate for the selected State",
            },
          },
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </body>
</html>
